header {
    display: flex;
    justify-content: space-between;
    background-color: #141E2D;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    
}

body {
    background-color: #465D80;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

} 

#menu  {
    display: flex;
   
    
}

#menu h2 a {
    text-decoration: none;
    padding: 20px;
    color: #FFFFFF;
}

#menu h2 a:hover {
    background: #ddd;
    color: black;
  }

#name {
    color: #866969;
    font-size: 1.4rem;
    padding-right: 15%;
    font-style: oblique;
}

q {
    font-size: 2.1rem;
}
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: oldlace;
    height: 100vh;

}

#intro {
    text-align: center;
    font-size: 2.1rem;
    margin-top: 3%;
    
}

#intro img {
    height: 500px;
    
}

.home > img {
    height: 400px;
    margin-left: 10px;
   
}

#question {
    color: #C4C4C4;
    font-size: 3.4rem;
    text-align: center;
}

#quo {
    font-size: 3.1rem;
    color: #C4C4C4;
}

.about0 {
    display: flex;
    /* justify-content: space-around; */
    font-size: 1.8rem;
    margin-left: 15%
    
}
 

#about00 {
    display: block;
    margin-left: 11%;
}

button {
  padding: 10px;
  font-size: 1.3rem;
  border-radius: 10px;
  background-color: #C4C4C4;
}

#skills0 {
    font-size: 1.5rem;
    text-align: center;
    color: #C4C4C4;
    height: 70vh;
   
}

#skills {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: black;
  
}

#web {
    display: flex;
    height: 150px;
}

#one {
    font-size: 1.4rem;
    background-color: #C4C4C4;
    border-radius: 3%;
    padding: 10px;
}

#two {
    font-size: 1.4rem;
    background-color: #C4C4C4;
    border-radius: 3%;
    padding: 10px;
}

#three {
    font-size: 1.4rem;
    background-color: #C4C4C4;
    border-radius: 3%;
    padding: 10px;
}

#projects {
    font-size: 1.5rem;
    text-align: center;
    height: 80vh;
}

#projects h1 {
    text-align: center;
    color: #C4C4C4;
    
    
}


#contact {
    color: #C4C4C4;
    text-align: center;
    height: 50vh;
    background-color: #141E2D;
    font-size: 2.0rem;
    font-weight: 100;
}

#talk {
    display: flex;
    justify-content: space-around;
    font-size: 2.1rem;
    color: #C4C4C4;
    
            
}

#last {
    border-left-style: solid;
    padding-left: 15px;
    
    
}

